nav {
  li {
    list-style-type: none;
  }
  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 300;
  }
  .fa {
    color: white;
    font-size: 1.4rem;
    margin-right: 0.8rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 2px;
  }
}

h1, p {
  color: white;
}

h1 {
  padding: 15px 30px;
  padding-bottom: 15px;
}

p {
  padding: 15px 30px;
}
