<h2 style="text-align: center;"> Register </h2>
<div className="container" align="middle">
  <div className="row justify-content-center align-items-center">
    <div className="col-4">
        <div className="card">
            <div className="card-body">
                <form action="" autocomplete="off">
                    <div className="form-group">
                        <input type="text" className="form-control" name="full_name" placeholder="Full Name" />
                    </div>
                    <div className="form-group">
                        <input type="text" className="form-control" name="email" placeholder="Email" />
                    </div>
                    <div className="form-group">
                        <input type="password" className="form-control" name="password" placeholder="Password" />
                    </div>
                    <div className="form-group">
                        <input type="password" className="form-control" name="confirm_password" placeholder="Confirm Password" />
                    </div>
                    <button type="button" id="sendlogin" className="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
