<!doctype html>

<head>
  <style>
    .container_1 {

    }
    .container_2 {

    }
    .container_3 {

    }
    .container_4 {

    }
    .container_5 {
      
    }
  </style>

</head>

<body>
  <div class="container_1">
    <p> Title : {{ data['title'] }} </p>
  </div>
  <div class="container_2">
    <p> Article : {{ data['article'] }} </p>
  </div>
  <div class="container_3">
    <p> Author : {{ data['authors'] }} </p>
  </div>
  <div class="container_4">
    <p> Url : {{ data['url'] }} </p>
  </div>
  <div class="container_5">
    <p> Tags : {{ data['tags'] }} </p>
  </div>
</body>
